################################################################################
# kube-apiserver configuration
################################################################################
# --logtostderr=true: log to standard error instead of files
KUBE_LOGTOSTDERR="--logtostderr= {{ kube_logtostderr }}"

# --v=0: log level for V logs
KUBE_LOG_LEVEL="--v={{ kube_log_level }}"

# --etcd-servers=[]: List of etcd servers to watch (http://ip:port),
# comma separated. Mutually exclusive with -etcd-config
KUBE_ETCD_SERVERS="--etcd-servers={{ kube_etcd_servers }}"

# The IP address on which to serve the --insecure-port.
# --insecure-bind-address=127.0.0.1:
# KUBE_API_ADDRESS="--insecure-bind-address=${MASTER_ADDRESS}"
KUBE_API_ADDRESS="--address={{ kube_api_address }}"

# The port on which to serve unsecured, unauthenticated access.
# --insecure-port=8080:
# KUBE_API_PORT="--insecure-port=8080"
KUBE_API_PORT="--port={{ kube_api_port }}"

# Port minions listen on
# KUBELET_PORT="--kubelet-port=10250"
KUBELET_PORT="--kubelet-port={{ kubelet_port }}"

# Address range to use for services
# KUBE_SERVICE_ADDRESSES="--service-cluster-ip-range=10.254.0.0/16"
KUBE_SERVICE_ADDRESSES="--service-cluster-ip-range={{ kube_service_addresses }}"

# --admission-control="AlwaysAdmit": Ordered list of plug-ins
# to do admission control of resources into cluster.
# Comma-delimited list of:
# default admission control policies
# KUBE_ADMISSION_CONTROL="--admission-control=NamespaceLifecycle, \
#                                             NamespaceExists, \
#                                             LimitRanger, \
#                                             SecurityContextDeny, \
#                                             ServiceAccount, \
#                                             ResourceQuota"
KUBE_ADMISSION_CONTROL="--admission_control={{ kube_admission_control }}"

# Add your own!
KUBE_API_ARGS="{{ kube_api_args }}"
