
# Common configuration for all kubernetes services both master and minion

# --logtostderr=true: log to standard error instead of files
KUBE_LOGTOSTDERR="--logtostderr={{ kube_logtostderr }}"

# --v=0: log level for V logs
KUBE_LOG_LEVEL="--v={{ kube_log_level }}"

KUBE_MASTER="--master={{ master_address }}:{{ master_port }}"
